<div class="card"
      *ngFor="let defect of defects">
  <div class="card-body">
    <h5 class="card-title">{{defect.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{defect.dateSubmitted}}</h6>
    <p class="card-text">{{defect.description}}</p>
    <p class="card-text">{{developerDisplay(defect.developerId)}}</p>
    <p class="card-text">{{defect.fixCommit}}</p>
    <input *ngIf='showAssignDev(defect)' type="submit" value="Assign Developer" class="btn btn-primary defectButton" (click)="openAssignDev(assignDevModal, defect)">
    <input *ngIf='showThrowBack(defect)' type="submit" value="Throw Back" class="btn btn-primary defectButton" (click)="throwBack(defect)">
    <input *ngIf='showMakeComplete(defect)' type="submit" value="Make Complete" class="btn btn-primary defectButton" (click)="openMakeComplete(makeCompleteModal, defect)">
  </div>
</div>

<ng-template #makeCompleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Make Defect Complete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="fixCommit">Fix Commit</label>
        <div class="input-group">
          <input id="fixCommit" #fixCommit class="form-control" placeholder="Enter commit hash used to fix the defect">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(fixCommit.value)">Save</button>
  </div>
</ng-template>

<ng-template #assignDevModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign Developer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="assignDev">Developer</label>
        <div class="input-group">
          <select id="assignDev" #assignDev class="form-control" placeholder="Select Developer">
            <option *ngFor="let dev of developers" value={{dev.id}}>{{developerDisplay(dev)}}</option>
          </select>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(assignDev.value)">Save</button>
  </div>
</ng-template>
