<div class="card"
      *ngFor="let defect of defects">
  <div class="card-body">
    <h5 class="card-title">{{defect.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{defect.dateSubmitted}}</h6>
    <p class="card-text">{{defect.description}}</p>
    <p class="card-text">{{developerDisplay(defect)}}</p>
    <p class="card-text">{{defect.fixCommit}}</p>
    <input *ngIf='defect.developerId' type="submit" value="Throw Back" class="btn btn-primary defectButton" (click)="throwBack(defect)">
    <input *ngIf='defect.developerId' type="submit" value="Make Complete" class="btn btn-primary defectButton" (click)="makeComplete(defect)">
  </div>
</div>
