<div class="card"
      *ngFor="let defect of defects">
  <div class="card-body">
    <h5 class="card-title">{{defect.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{defect.dateSubmitted}}</h6>
    <p class="card-text">{{defect.description}}</p>
    <p class="card-text">{{defect.developerId.firstName}}{{defect.developerId.lastName}}</p>
    <p class="card-text">{{defect.fixCommit}}</p>
    <a href="#" *ngIf='defect.developerId'
       class="card-link" (click)="throwBack(defect)">Throw Back</a>
    <a href="#"
       class="card-link">Another link</a>
  </div>
</div>
