<form [formGroup]="defectForm" (ngSubmit)="onSubmit(focusme)">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control"
           #focusme
           formControlName="title" name="title">
    <div class="alert alert-danger"
           *ngIf="(title.dirty || title.touched) && title.errors">
         {{ title.errors | json }}
    </div>
    <div class="alert alert-danger"
           *ngIf="title.errors">
         {{ title.errors | json }}
    </div>
  </div>
  <div class="form-group">
    <label for="dateSubmitted">Date Submitted</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyy-mm-dd" formControlName="dateSubmitted"
              name="dateSubmitted" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <div class="alert alert-danger"
           *ngIf="(dateSubmitted.dirty || dateSubmitted.touched) && dateSubmitted.errors">
         {{ dateSubmitted.errors | json }}
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" formControlName="description">
    <div class="alert alert-danger"
           *ngIf="(description.dirty || description.touched) && description.errors">
         {{ description.errors | json }}
    </div>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" formControlName="status" id='status'>
      <option [defaultSelected]='true'>New</option>
      <option>In Process</option>
      <option>Completed</option>
    </select>
    <div class="alert alert-danger"
        *ngIf="(status.dirty || status.touched) && status.errors">
      {{ status.errors | json }}
      <div *ngIf="status.errors['developerError']">You cannot have a developer with a new status.</div>
      <div *ngIf="status.errors['fixCommitError']">You cannot have a fixCommit enry without a completed status.</div>
      </div>
  </div>
  <div class="form-group">
    <label for="developerId">Developer</label>
    <select class="form-control" formControlName="developerId">
      <option></option>
      <option *ngFor='let developer of developers' value='{{developer}}'>{{developer.firstName}} {{developer.lastName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fixCommit">Fix Commit</label>
    <input class="form-control" formControlName="fixCommit">
  </div>
  <input type="submit" value="Add Defect" class="btn btn-primary">
  <div class="alert alert-danger" *ngIf="hasErrors">
    Please fix your errors.
  </div>
</form>

